<form [formGroup]="companyForm" (ngSubmit)="onSave()">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  
  <mat-dialog-content class="form-container">
    <mat-form-field appearance="outline">
      <mat-label>Nombre de la Compañía</mat-label>
      <input matInput formControlName="nombre" required>
      @if (companyForm.get('nombre')?.hasError('required')) {
        <mat-error>El nombre es obligatorio.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>RIF</mat-label>
      <input matInput formControlName="rif" required>
       @if (companyForm.get('rif')?.hasError('required')) {
        <mat-error>El RIF es obligatorio.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Dirección</mat-label>
      <textarea matInput formControlName="direccion" required></textarea>
      @if (companyForm.get('direccion')?.hasError('required')) {
        <mat-error>La dirección es obligatoria.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" required>
      @if (companyForm.get('telefono')?.hasError('required')) {
        <mat-error>El teléfono es obligatorio.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput formControlName="correo" type="email" required>
      @if (companyForm.get('correo')?.hasError('required')) {
        <mat-error>El correo es obligatorio.</mat-error>
      }
      @if (companyForm.get('correo')?.hasError('email')) {
        <mat-error>Por favor, introduce un correo válido.</mat-error>
      }
    </mat-form-field>

    <mat-slide-toggle formControlName="activo">Compañía Activa</mat-slide-toggle>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" (click)="onCancel()" [disabled]="isSaving()">{{ texts.cancel }}</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="companyForm.invalid || isSaving()">
      @if (isSaving()) {
        <mat-spinner diameter="24" style="margin-right: 8px;"></mat-spinner>
        <span>Guardando...</span>
      } @else {
        <span>{{ isEditMode ? texts.editCompany : texts.newCompany }}</span>
      }
    </button>
  </mat-dialog-actions>
</form>
